@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* .quicksand {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
} */
body{
    font-family: "Quicksand";

}
.center{
    width: 80%;
    margin: 20px auto;
    /* border: 1px solid gold; */
}

.navbar{
    display: flex;
    justify-content: space-between;
}
.start-navbar{
    display: flex;
}
.start-navbar img{
    width: 50px;
    height: 50px;
}
.middle-navbar img{
    display: none;
}
.middle-navbar ul{
    display: flex;
    column-gap: 20px;
}
.middle-navbar ul li{
    list-style: none;
}
.middle-navbar ul li .home{
    color: darkorange;
}
.middle-navbar ul li .about{
    color: skyblue;
}
.middle-navbar ul li .facilities{
    color: darkturquoise;
}
.middle-navbar ul li a{
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
}
.end-navbar{
    align-content: center;
}
.primary-btn{
    background-color: darkorange;
    color: white;
    font-size: 12px;
    border: none;
    padding: 8px 30px;
    border-radius: 10px;
}
.secondary-btn{
    background-color: black;
    color: white;
    font-size: 12px;
    border: none;
    padding: 8px 30px;
    border-radius: 10px;
}
.banner{
    display: flex;
    justify-content: space-between;
}
.banner-content{
    width: 50%;
    align-content: center;
}
.banner-heading{
    font-size: 2.5rem;
    margin-top: 50px;
}
.banner-content .empowering{
    color: darkorange;
}
.banner-content .towards{
    color: skyblue;
}
.banner-description{
    font-size: 1rem;
    opacity: 70%;
    margin-bottom: 50px;
}
.banner-image{
    width: 35%;
}
.banner-image img{
    width: 100%;
    height: 400px;
}




/* media query for small device */
@media screen and (max-width: 576px) {
    .center{
        width: 90%;
        margin: 10px auto;
    }
    .start-navbar h3{
        display: none;
    }
    .middle-navbar img{
       width: 40px;
       height: 40px;
       display: block; 
    }
    .middle-navbar ul{
        display: none;
    }
    .end-navbar{
        display: none;
    }
    .banner{
        display: flex;
        flex-direction: column-reverse;
    }
    .banner-content{
        width: 100%;
        text-align: center;
    }
    .banner-heading{
        font-size: 1.50rem;
        margin-top: 20px;
    }
    
    
    .banner-description{
        font-size: 0.75rem;
        opacity: 70%;
        margin-bottom: 20px;
    }
    .banner-image{
        width: 100%;
    }
    .banner-image img{
        width: 100%;
        height: 350px;
    }
    
}