@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* .quicksand {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
} */
body{
    font-family: "Quicksand";

}
.center{
    width: 80%;
    margin: 20px auto;
    /* border: 1px solid gold; */
}

.navbar{
    display: flex;
    justify-content: space-between;
}
.start-navbar{
    display: flex;
}
.start-navbar img{
    width: 50px;
    height: 50px;
}
.middle-navbar img{
    display: none;
}
.middle-navbar ul{
    display: flex;
    column-gap: 20px;
}
.middle-navbar ul li{
    list-style: none;
}
.middle-navbar ul li .home{
    color: darkorange;
}
.middle-navbar ul li .about{
    color: skyblue;
}
.middle-navbar ul li .facilities{
    color: darkturquoise;
}
.middle-navbar ul li a{
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
}
.end-navbar{
    align-content: center;
}
.primary-btn{
    background-color: darkorange;
    color: white;
    font-size: 12px;
    border: none;
    padding: 8px 30px;
    border-radius: 10px;
}
.secondary-btn{
    background-color: black;
    color: white;
    font-size: 12px;
    border: none;
    padding: 8px 30px;
    border-radius: 10px;
}
.banner{
    display: flex;
    justify-content: space-between;
}
.banner-content{
    width: 50%;
    align-content: center;
}
.banner-heading{
    font-size: 2.5rem;
    margin-top: 50px;
}
.banner-content .empowering{
    color: darkorange;
}
.banner-content .towards{
    color: skyblue;
}
.banner-description{
    font-size: 1rem;
    opacity: 70%;
    margin-bottom: 50px;
}
.banner-image{
    width: 35%;
}
.banner-image img{
    width: 100%;
    height: 400px;
}
/* curriculum section styles */
.curriculum{
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
    background: url(/assets/bg.png);
    margin-top: 50px;
}
.kinder{
    background: linear-gradient(#1aa3d9ef, white);
    border-radius: 10px;
    padding: 20px 10px;
    text-align: center;
    box-shadow: 3px 0px 2px 2px whitesmoke;
    box-sizing: border-box;
}
.kinder .curriculum-anchor{
    color: #1aa3d9ef;
    font-weight: 600;
}
.elementary{
    background: linear-gradient(#dd9236, white);
    border-radius: 10px;
    padding: 20px 10px;
    text-align: center;
    box-shadow: 3px 0px 2px 2px whitesmoke;
    box-sizing: border-box; 
}
.elementary .curriculum-anchor{
    color: #dd9236;
    font-weight: 600;
}
.curriculum .curriculum-img{
    margin: 0 auto;
    width: 100px;
}
.curriculum .curriculum-img img{
    width: 100px;
}
.curriculum-description{
    text-align: justify;
    font-size: 0.75rem;
}
.curriculum .curriculum-anchor{
    text-decoration: none;
    font-size: 0.75rem;
}
.middle{
    background: linear-gradient(violet, white);
    border-radius: 10px;
    padding: 20px 10px;
    text-align: center;
    box-shadow: 3px 0px 2px 2px whitesmoke;
    box-sizing: border-box; 
}
.middle .curriculum-anchor{
    color: violet;
    font-weight: 600;
}
.stories{
    background-image: url(/assets/bg.png), linear-gradient(to top,#fbc686, whitesmoke);
    padding: 20px 120px;
    margin: 50px auto;
}
.stories h2{
    text-align: center;

}
.image-container{
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
}
.image-left{
    width: 45%;
}
.image-left img{
    width: 100%;
    border-radius: 10px;
    position: relative;
    z-index: 0;
}
.image-left .image-left-info{
    font-size: 0.75rem;
    line-height: 20px;
    text-align: justify;
}
.image-left .balance .date{
    font-size: 0.75rem;
    font-weight: 500;
    background-color: aqua;
    width: 30%;
    text-align: center;
    padding: 8px 10px;
    border-radius: 20px;
    margin-top: -20px;
    margin-left: 20px;
    position: relative;
    z-index: 5;
}
.image-right{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    width: 50%;
    gap: 20px;
}
.image-right div{
    width: 100%;
}
.image-right div img{
    width: 100%;
    border-radius: 10px;
    position: relative;
    z-index: 0;
}
.image-right div .balance .date-story-2{
    font-size: 0.75rem;
    font-weight: 500;
    background-color: rgb(163, 203, 95);
    width: 50%;
    text-align: center;
    padding: 8px 10px;
    border-radius: 20px;
    margin-top: -20px;
    margin-left: 20px;
    position: relative;
    z-index: 5;
}
.image-right div .balance .date-story-3{
    font-size: 0.75rem;
    font-weight: 500;
    background-color: lightblue;
    width: 50%;
    text-align: center;
    padding: 8px 10px;
    border-radius: 20px;
    margin-top: -20px;
    margin-left: 20px;
    position: relative;
    z-index: 5;
}
.image-right div .balance .date-story-4{
    font-size: 0.75rem;
    font-weight: 500;
    background-color: lightgreen;
    width: 50%;
    text-align: center;
    padding: 8px 10px;
    border-radius: 20px;
    margin-top: -20px;
    margin-left: 20px;
    position: relative;
    z-index: 5;
}
.image-right div .balance .date-story-5{
    font-size: 0.75rem;
    font-weight: 500;
    background-color: lightyellow;
    width: 50%;
    text-align: center;
    padding: 8px 10px;
    border-radius: 20px;
    margin-top: -20px;
    margin-left: 20px;
    position: relative;
    z-index: 5;
}
.story-btn{ 
    text-align: center;
    margin: 20px 0;   
}



/* media query for small device */
@media screen and (max-width: 576px) {
    .center{
        width: 90%;
        margin: 10px auto;
    }
    .start-navbar h3{
        display: none;
    }
    .middle-navbar img{
       width: 40px;
       height: 40px;
       display: block; 
    }
    .middle-navbar ul{
        display: none;
    }
    .end-navbar{
        display: none;
    }
    .banner{
        display: flex;
        flex-direction: column-reverse;
    }
    .banner-content{
        width: 100%;
        text-align: center;
    }
    .banner-heading{
        font-size: 1.50rem;
        margin-top: 20px;
    }
    
    
    .banner-description{
        font-size: 0.75rem;
        opacity: 70%;
        margin-bottom: 20px;
    }
    .banner-image{
        width: 100%;
    }
    .banner-image img{
        width: 100%;
        height: 350px;
    }
    .curriculum{
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        background: url(/assets/bg.png);
        margin-top: 20px;
    }
    .stories{
        padding: 20px;
    }
    
    .image-container{
        flex-direction: column;
        
    }
    .image-left{
        width: 100%;
        margin-bottom: 20px;
    }
    .image-left img{
        width: 100%;
    }
    
    .image-left .balance .date{
        font-size: 0.75rem;
        font-weight: 500;
        background-color: aqua;
        width: 30%;
        text-align: center;
        padding: 8px 10px;
        border-radius: 20px;
        margin-top: -20px;
        margin-left: 20px;
        position: relative;
        z-index: 5;
    }
    .image-right{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
    .image-right div{
        width: 100%;
        margin-bottom: 10px;
    }
    .image-right div img{
        width: 100%;
        border-radius: 10px;
        position: relative;
        z-index: 0;
    }    
}